@charset "utf-8";

body {
	background-color: darkseagreen;
}

img {
	width: 400px
}

img:hover {
	border: dashed #E9D0C9 5px;
	border-radius: 60%;
}
h1 {
	color: azure;
	letter-spacing: -1px;
	text-shadow: 1px 1px 7px #DC7171
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
}
